<div class="md-sidebar md-sidebar--primary" data-md-component="navigation">
  <div class="md-sidebar__scrollwrap">
    <div class="md-sidebar__inner">
      <nav class="md-nav md-nav--primary" data-md-level="0">
        <label class="md-nav__title md-nav__title--site" for="__drawer"><span class="md-nav__button md-logo">{% if site.logo %}<img height="48" src="{{ site.baseurl }}/{{ site.logo }}">{% else %}<i class="md-icon"></i>{% endif %}</span> {{ site.title }}</label>
        <div class="md-nav__source">
          <a class="md-source" data-md-source="github" href="{{ site.repo }}" title="Go to repository">
          <div class="md-source__repository">
            {{ site.github_user }}/{{ site.github_repo }}
          </div></a>
        </div>

        <ul class="md-nav__list" data-md-scrollfix="">
          <li class="md-nav__item md-nav__item--active">
            <a class="md-nav__link md-nav__link--active" href="{{ site.baseurl }}/" title="Home">Home</a>
          </li>
          {% for section in site.data.toc %}
          <li class="md-nav__item">
            
            {% if section.children %}
            <input class="md-toggle md-nav__toggle" data-md-toggle="toc" id="__toc-{{ section.title | slugify }}" type="checkbox"> 
                <label class="md-nav__link" type="toc" for="__toc-{{ section.title | slugify }}">{{ section.title }}</label>
                  

            <nav class="md-nav md-nav--secondary" id="{{ section.title | slugify }}">
              <label class="md-nav__title" for="__toc-{{ section.title | slugify }}">{{ section.title }}</label>
              <ul class="md-nav__list" data-md-scrollfix="">
                {% for child in section.children %}
                <li class="md-nav__item">
                  <a class="md-nav__link" href="{% if child.external_url %}{{ child.external_url }}{% else %}{{ site.baseurl }}/{{ child.url }}{% endif %}"
                     title="{{ child.title }}">{{ child.title }}</a>
                </li>
                {% endfor %}
              </ul>
            </nav>
            {% else %}
              <a class="md-nav__link" href="{% if section.external_url %}{{ section.external_url }}{% else %}{{ site.baseurl }}/{{ section.url }}{% endif %}" title="{{ section.title }}">{{ section.title }}</a>
            {% endif %}
          </li>{% endfor %}

          <!-- This navigation is completely for mobile -->
          {% for section in site.data.toc %}<li class="md-nav__item mobile-nav" style="display:none">
            {% if section.children %}
            <a class="md-nav__link" href="{% if section.external_url %}{{ section.external_url }}{% else %}{{ site.baseurl }}/{{ section.url }}{% endif %}" title="{{ section.title }}">{{ section.title }}</a>
            {% else %}
            <a class="md-nav__link" href="{% if section.external_url %}{{ section.external_url }}{% else %}{{ site.baseurl }}/{{ section.url }}{% endif %}" title="{{ section.title }}" type="toc">{{ section.title }}</a>
            {% endif %}
          </li>{% endfor %}

          <!-- This navigation is completely for non mobile -->
         {% for section in site.data.toc %}
         <li class="md-nav__item md-nav__item--nested not-mobile-nav">
             <a class="md-nav__link pancakes-parent" {% if section.children %}href="#pancakes-{{ section.title | slugify }}"{% else %}href="{% if section.external_url %}{{ section.external_url }}{% else %}{{ site.baseurl }}/{{ section.url }}{% endif %}"{% endif %}
                id="pancakes-{{ section.title | slugify }}" 
                title="{{ section.title }}">{{ section.title }}</a>
                {% if section.children %}<nav class="md-nav">
                    <ul class="md-nav__list">
                        {% for child in section.children %}<li class="md-nav__item">
                        <a href="{% if child.external_url %}{{ child.external_url }}{% else %}{{ site.baseurl }}/{{ child.url }}{% endif %}" 
                           title="{{ child.title }}" style="display:none"
                           class="md-nav__link pancakes-child">{{ child.title }}</a>
                        </li>{% endfor %}
                    </ul>
              </nav>{% endif %}
         </li>{% endfor %}

        </ul>
      </nav>
    </div>
  </div>
</div>
{% for section in site.data.toc %}
{% if section.children %}
<div class="md-sidebar md-sidebar--secondary" data-md-component="toc">
  <div class="md-sidebar__scrollwrap">
    <div class="md-sidebar__inner">
      <nav class="md-nav md-nav--secondary" id="{{ section.title | slugify }}">
        <label class="md-nav__title" for="__toc-{{ section.title | slugify }}">{{ section.title }}</label>
        <ul id="nav-toc" class="md-nav__list" data-md-scrollfix="">
          <!-- toc will be appended here!-->
        </ul>
      </nav>
    </div>
  </div>
</div>
{% endif %}
{% endfor %}
